body{
    background-color: #eee;
}

/* You can add global styles to this file, and also import other style files */
td i{
	cursor: pointer;
	transition: color .5s;
}

td i:hover{
	color:red;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #74E2FD;
}

.selected{
	background-color: #d19b3d !important;
}

.table-hover tbody tr.selected:hover td, .table-hover tbody tr.selected:hover th {
	background-color: #D1BF9F !important;
}